# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_BLE
	default y

config ZMK_USB
	default y

if SHIELD_enki42_DONGLE

config ZMK_KEYBOARD_NAME
	default "enki42 Dongle"

endif

if SHIELD_ENKI42_LEFT || SHIELD_ENKI42_RIGHT

config ZMK_SPLIT
	default y

endif



if SHIELD_ENKI42_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif
